<% client = Client.find(@client_id) %>
<h1><%= client.name() %></h1>

<% if client.stylist_id() != 0 %>
  <% assigned_stylist = Stylist.find(client.stylist_id()) %>
  <%= client.name() %> is assigned to <a href="/stylists/<%= assigned_stylist.id() %>"><%= assigned_stylist.name() %></a>
<% else %>
  Client is not currently assigned to a stylist!
<% end %>

<hr>
<a href="/">Back</a>
